<div class="col-md-6 offset-md-3">
    <h3>Call Time</h3>
    
    <form  (ngSubmit)="onSubmit()" [formGroup]="form" >
    
        <div class="form-group">
            <!--<label>Time</label> -->
            <mat-form-field>
            <input matInput placeholder="00:00:00 to 23:59:59" type="text" class="form-control" id="time" formControlName="time"  
            [(ngModel)]="time.time" name= "time">
           
            </mat-form-field>

           <!-- <strong>{{form.value.time}} </strong> -->
            
        </div>
    
        <div class="form-group">
            <!--<label>Time Zone</label>-->
            <mat-form-field>
            <input matInput type="number" placeholder="Time Zone"  class="form-control" id="timeZoneInt" max="11" min="-11" formControlName="timeZoneInt"
            [(ngModel)]="time.timeZoneInt" name= "timeZoneInt">
            </mat-form-field>
            
        </div>
           
        <button class="btn btn-success" type="submit">Call</button>
        <button (click) = "back()" class = "btn btn-info">Back</button>
       
    </form>

<div *ngIf="result()">
    <h3> Result</h3>

    <div>
        <label> <b> Time: </b></label> {{timeResult}}
    </div>
    <div>
        <label> <b> Time Zone: </b></label> {{timeResult2}}
    </div>
    
   
</div>

    </div>
    