<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
      <!--<li class = "nav-item">
          <a routerLink="employees" routerLinkActive="active" class="nav-link" >Employee List</a>
      </li>
      <li class = "nav-item">
          <a routerLink="create-employee" routerLinkActive="active" class="nav-link" >Add Employee</a>
      </li>-->
      <li class = "nav-item">
        <a routerLink="time-utc" routerLinkActive="active" class="nav-link" >Api Time</a>
      </li>
      <li class = "nav-item">
        <a routerLink="login-tuten" routerLinkActive="active" class="nav-link" >Api Login</a>
      </li>
  </ul>
</nav>

<h1 class="mat-display-1 text-center">{{title}}</h1>

<h1 class="text-center">{{content}}</h1>

<div class = "container">

  <!--<app-employee-list></app-employee-list>-->
  <router-outlet></router-outlet>

</div>

<footer class = "footer">
  <div class = "container">
      <span>All Rights Reserved 2021 @Christopher</span>
  </div>
</footer>
